
body {
    margin: 0;
    
}
.container {
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 70px;
    color: white;
    font-weight: 900;
}
